* {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

a:hover {
  cursor: pointer;
}

body {
  text-align: center;
}

nav {
  position: relative;
  top: 50px;
  width: 77vw;
  height: 40px;
  border-radius: 5px;
  background: linear-gradient(180deg, #5f635f, lightgray, #5f635f);
  margin-left: auto;
  margin-right: auto;
}

nav ul li {
  display: inline-block;
}

.nav_li {
  text-align: center;
  width: 90px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  border-right: 1px solid grey;
  padding: 8px;
}

nav li:hover {
  cursor: pointer;
}

.nav_search {
  border-radius: 10px;
  background: lightgray url(assets/search.png) left no-repeat;
  padding-left: 15px;
  width: 120px;
  height: 22px;
  color: white;
  margin-left: 3px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .nav_li {
    width: 60px;
    font-size: 15px;
    padding: 5px;
  }

  nav {
    text-align: left;
    width: 90vw;
    height: 30px;
  }

  .nav_search {
    width: 80px;
  }
}

.main_content {
  background-image: url(assets/main.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 940px;
  width: 100vw;
  height: 940px;
  text-align: center;
  color: #fff;
}

.main_content_section_a {
  position: relative;
  top: 300px;
}

.main_heading {
  font-size: 43px;
  font-weight: lighter;
}

.sub_heading {
  font-size: 23px;
}

.main_content p:hover {
  cursor: pointer;
}

.main_content_b {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  height: auto px;
  margin: 2px;
}

.thumbnail {
  height: auto;
  width: 25vw;
  cursor: pointer;
}

footer {
  width: 100vw;
  background-color: #fff;
  height: 70px;
  font-size: 13px;
}

.footer_left {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.footer_right {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.footer_extra {
  clear: left;
  text-align: left;
  margin-left: 10px;
}

footer a {
  text-decoration: none;
  color: #1f8ecf;
}

@media (max-width: 850px) {
  footer {
    font-size: 11px;
  }
}

.location_icon {
  width: 14px;
  height: auto;
}

.apple_icon {
  position: relative;
  right: 20px;
}
