*{
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
body{
  text-align: center;
}

nav {
  position: relative;
  top: 50px;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  background: lightgrey;
  margin-left: auto;
  margin-right: auto;
}

.main_content {
  background-image: url(assets/main.jpg);
  background-repeat: no-repeat;
  background-size: 1457px 940px;
  width: 1457px;
  height: 940px;
  text-align: center;
  color: #fff;
}

.main_content_section_a{
  position: relative;
  top: 400px;
}

.main_heading {
  font-size: 43px;
  font-weight: lighter;
}

.sub_heading {
  font-size: 23px;
}

.main_content p:hover{
  cursor: pointer;
}

.main_content_b {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 200px;
  margin: 2px;
}

footer {
  width: 100vw;
  background-color: #fff;
  height: 70px;
  font-size: 11px;
}

.footer_left {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 100px;
}

.footer_right {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
}

.footer_extra {
  clear: left;
  text-align: left;
  margin-left: 100px;
}